<h3 style="font-size: 2em;" "font-weight: 300;">About the Project</h3>

<h4 style="font-size: 1.3em;">Calendar of State Papers Locator</h4>

<p style="max-width: 70%;">The objective in creating this tool was to visualize the broad scope of British officials’ knowledge of and interaction with places around the Atlantic Ocean in the early eighteenth century.  Many histories of the British Atlantic in the period before 1750 focus on a single colony or region, and many studies of British colonial administration have stressed officials’ ignorance about the geography of places large and small on the other side of the ocean.  While knowledge of places should not convey familiarity, this tool will allow scholars to map the points that were mentioned or discussed in a sampling of the correspondence of British officials, providing a version of their mental geography of the Atlantic world.  (As of April 2013, data has been entered only for the year 1731; see <a href="/source">Source</a> for more details.)</p>

<h4 style="font-size: 1.3em;">Conclusions</h4>

<p style="max-width: 70%;">Long section?</p>

<h4 style="font-size: 1.3em;">About the Author</h4>

<p style="max-width: 70%;">Mapping the British Atlantic was created by <a href="http://history.virginia.edu/user/111">David T. Flaherty</a>, Ph.D. candidate in the Corcoran Department of History at the University of Virginia.  His dissertation, on what British officials did with their expanding geographic conception of empire in the eighteenth-century Atlantic, is entitled “Envisioning the British Atlantic:  Strategies for Settlement and Sovereignty on the North American and Caribbean Frontiers, 1700-1763."  Generous support and assistance toward the completion of this project was provided by the <a href="http://www.scholarslab.org/">Scholars' Lab</a> in U.Va.'s Alderman Library.</p>
