<div class="row">
  <div class="span8">
    <form method="get" action="/results">
      <h2>Search the Papers</h2>
      <input type="text" name="q" class="input-block-level" placeholder="search terms" />
      <button class="btn btn-large btn-primary" type="submit">Search</button>
    </form>
  </div>
</div>
