<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head> 
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width,initial-scale=1">

<link href='//fonts.googleapis.com/css?family=Neuton' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Alegreya+SC:400,700' rel='stylesheet' type='text/css'>
<link href="/css/styles.css" rel='stylesheet'> 

<title>Mapping the British Atlantic</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//maps.google.com/maps/api/js?v=3&amp;sensor=false"></script>
<script src="/javascripts/libs/OpenLayers.js"></script>
<script src="/javascripts/maps.js"></script>
<%#= yield_content :header %>
</head>

<body> 
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<header role="banner">
<img src="/images/seal.jpg" alt="Board of Trade" style="float:left" width="222" height="222">
  <h1> <br> Mapping the British Atlantic</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/results/?q=*:*">Browse</a></li>
      <li><a href="/source">Source</a></li>
    </ul>
  </nav>
</header>
<p></p>

<%= yield %>

<footer role="contentinfo">
  <p>&copy; 2012</p>
</footer>
<%#= yield_content :footer %>
</body>
</html>
