
<% @results['response']['docs'].each do |result| %>

  <div class="result" id="<%= result['id'] %>">
    <div class="dateline">
      <div class="date"><%= result['formatedDate_s'] %></div> / <div class="citation"><%= result['citation_s'] %></div>
    </div>
    <%= result['text_t'] %>
  </div>
<% end %>

<%#= will_paginate( @results["response"]["docs"]) %>

