
<% @results['response']['docs'].each do |result| %>
  <div class="result" id="<%= result['id'] %>">
  <h1><%= result['placename_txt'].first %></h1>
<%= result.inspect %>
  </div>
<% end %>

<%#= will_paginate( @results["response"]["docs"]) %>

