<h2>Source</h2>

<p>The original text for this project is based on letters written to or from Britons around the Atlantic in 1731, as collected in the <a href="http://archive.org/details/colonialrecord38greauoft">Calendar of State Papers, colonial series, volume 38</a>. The Calendar, compiled by British archivists and scholars mainly in the years before 1950, has collected most of the documents in the Colonial Office files now at The National Archives, Kew, and transcribed many of them in full, while abstracting or abbreviating the contents of others. Since this project directly follows the text of the Calendar, it is subject to the same editorial conventions, some of which are described below.</p>
