<h2>Source</h2>

<p style="max-width: 70%;">The original text for this project is based on letters written to or from British officials around the Atlantic, as collected in the Calendar of State Papers, colonial series. The Calendar, compiled by British archivists and scholars mainly in the years before 1950, has collected most of the documents in the Colonial Office files now at The National Archives, Kew, and transcribed many of them in full, while abstracting or abbreviating the contents of others. Since this project directly follows the text of the Calendar, it is subject to the same editorial conventions, some of which are described below.</p>

<p style="max-width: 70%;">The goal of this project is to provide samples of British correspondence from specific years in the first half of the eighteenth century.  As of April 2013, the present data uploaded onto this site are all of the documents in <a href="http://archive.org/details/colonialrecord38greauoft">volume 38 of the Calendar</a>, (text downloaded from archive.org).</p>
