/*
Syntax error: Invalid CSS after "...text-decoration": expected ";", was ":none;"
        on line 66 of /Users/dtflaherty/projects/CSPC/_sass/styles.scss

Backtrace:
/Users/dtflaherty/projects/CSPC/_sass/styles.scss:66
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.8/lib/sass/scss/parser.rb:1148:in `expected'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.8/lib/sass/scss/parser.rb:1084:in `expected'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.8/lib/sass/scss/parser.rb:1079:in `tok!'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.8/lib/sass/scss/parser.rb:586:in `block in declaration_or_ruleset'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.8/lib/sass/scss/parser.rb:1122:in `call'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.8/lib/sass/scss/parser.rb:1122:in `rethrow'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.8/lib/sass/scss/parser.rb:592:in `declaration_or_ruleset'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.8/lib/sass/scss/parser.rb:554:in `block_child'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.8/lib/sass/scss/parser.rb:546:in `block_contents'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.8/lib/sass/scss/parser.rb:535:in `block'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.8/lib/sass/scss/parser.rb:529:in `ruleset'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.8/lib/sass/scss/parser.rb:591:in `block in declaration_or_ruleset'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.8/lib/sass/scss/parser.rb:1122:in `call'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.8/lib/sass/scss/parser.rb:1122:in `rethrow'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.8/lib/sass/scss/parser.rb:592:in `declaration_or_ruleset'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.8/lib/sass/scss/parser.rb:554:in `block_child'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.8/lib/sass/scss/parser.rb:546:in `block_contents'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.8/lib/sass/scss/parser.rb:535:in `block'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.8/lib/sass/scss/parser.rb:529:in `ruleset'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.8/lib/sass/scss/parser.rb:591:in `block in declaration_or_ruleset'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.8/lib/sass/scss/parser.rb:1122:in `call'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.8/lib/sass/scss/parser.rb:1122:in `rethrow'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.8/lib/sass/scss/parser.rb:592:in `declaration_or_ruleset'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.8/lib/sass/scss/parser.rb:554:in `block_child'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.8/lib/sass/scss/parser.rb:546:in `block_contents'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.8/lib/sass/scss/parser.rb:535:in `block'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.8/lib/sass/scss/parser.rb:529:in `ruleset'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.8/lib/sass/scss/parser.rb:553:in `block_child'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.8/lib/sass/scss/parser.rb:546:in `block_contents'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.8/lib/sass/scss/parser.rb:82:in `stylesheet'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.8/lib/sass/scss/parser.rb:27:in `parse'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.8/lib/sass/engine.rb:342:in `_to_tree'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.8/lib/sass/engine.rb:315:in `_render'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.8/lib/sass/engine.rb:262:in `render'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/fssm-0.2.10/lib/fssm/path.rb:35:in `update'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/fssm-0.2.10/lib/fssm/state/directory.rb:39:in `block in modified'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `each'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `modified'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/fssm-0.2.10/lib/fssm/state/directory.rb:18:in `refresh'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:30:in `block in temporary_multipath_handler'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:27:in `each'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:27:in `temporary_multipath_handler'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:17:in `block (2 levels) in run'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:16:in `each'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:16:in `block in run'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/rb-fsevent-0.9.3/lib/rb-fsevent/fsevent.rb:43:in `call'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/rb-fsevent-0.9.3/lib/rb-fsevent/fsevent.rb:43:in `run'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:20:in `run'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:87:in `perform'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/bin/compass:19:in `load'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/bin/compass:19:in `<main>'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/bin/ruby_noexec_wrapper:14:in `eval'
/Users/dtflaherty/.rvm/gems/ruby-1.9.3-p327/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...text-decoration\": expected \";\", was \":none;\"\A         on line 66 of /Users/dtflaherty/projects/CSPC/_sass/styles.scss"; }
