<div class="row">
  <div class="span8">
    <form>
      <h2>Enter a location</h2>
      <input type="text" class="input-block-level" placeholder="location" />
      <button class="btn btn-large btn-primary" type="submit">Locate</button>
    </form>
  </div>
</div>
